:root{
    --lightgreen:	mediumseagreen;
    --flex:flex;
    --Containerbg:darkslategrey;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.container{
    /* outline: 2px solid blue; */
    width:25%;
  
    background-color:var(--Containerbg);


    aspect-ratio: 1;
    margin: 0px auto;
    border-radius: 5px;
}
/* styling the output .screen */
.screen{
    height: 30%;
    background-color:cadetblue;
    display: var(--flex);
    justify-content:flex-end;
    align-items: flex-end;
    font-size: 3rem;
    color: white;
    padding-right: 1.5rem;
    word-wrap: break-word;
    word-break:break-all;

   
    /* outline: 2px solid blue; */
}
/* styling the button */
button{
    border: 0px;
    padding: 1.2em 0px;
    outline: 0px;
    font-size: 2rem;
    color: white;
    display: var(--flex);
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    /* border-radius: 5px; */
    background: transparent;
}
button:hover{
    transform: scale(1.1) rotate(10deg) translate(10px);
    color:var(--lightgreen);
     
}

.buttons,
.button-two,
.button-clr,
.button-del{
    flex-basis: 22%;
    height: 2rem;
   
    /* width:20%; */
}

/* styling buttons that span two columnms */
#span-two{
    
 position: relative;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
    background-color: var(--lightgreen);
    /* flex-basis: 50%; */
    /* height:fit-cont(5rem); */
    display: flex;
    align-items: center;

    justify-content: center;
    

    
  }
  .span-two:hover{
    transform: scale(1.1);
   
  }
  /* styling element inside button that span two coluoms */
  .equals{
    margin-top:70%;
    z-index: 11;
    color: white;
  }
  /* creating an after pseudo element which span over the other height*/
  #span-two:after{
    content:'';
    /* width:2rem; */
    height: 5rem;
    display: block;
    /* position: absolute; */
    position:absolute;
 top:98%;
    background-color:var(--lightgreen);
    left:0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .keys{
   border-top: 1px solid var(--lightgreen);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap:10px;
    /* outline: 2px solid purple; */
    padding: 1.5em;
 
   
}
.operator{
    color: var(--lightgreen);
}
